/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------/* CONTACT FORM /*-------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
#contact {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#contact h2 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 20px;
}

#contact p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

form input,
form textarea {
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--color-secondary);
    box-shadow: 0 0 5px rgba(2, 62, 138, 0.5);
}

form button {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: var(--color-secondary);
}
